body {
	background-color: #31262A;
	font-style: Lato;
	font-weight: italic;
	font-size: 48px;
}

.transbox {
	background-color: #805A65;
	border:3px solid black;
	position: absolute;
	top:14%;
	bottom:3%;
	left:3%;
	right:3%;
}

.sidebar {
	background-color: #805A65;
	color: #31262A;
	left: 5%;
	text-align: center;
 	width: 25%;
 	border: 3px solid #31262A;
}

li {
	border: 3px solid #31262A;
	vertical-align: center;
	padding-top: 55px;
	padding-bottom: 54px;
}

li:hover {
	background-color: #9D7A7E;
}

#clicked {
  background-color: #9D7A7E;
}

.data {
  color: #91BF9B;
  width: 70%;
  position: absolute;
  top: 5%;
  right: 5%;
  text-align: center;
  padding-top: 20px;
}

.data textarea {
 background: url(notebook.png) repeat-y;
 position: fixed;
 left: 30%;
 width: 25%;
 height: 70%;
 font: normal 14px lato;
 line-height: 25px;
}
